<!-- sidebar.component.html -->
<div [ngClass]="{'sidebar-active': isOpen}" class="sidebar z-50">
  <div class="flex items-center justify-between px-4 py-4 bg-primary">
    <h2 class="text-lg font-semibold">Menú</h2>
    <button (click)="toggleSidebar()" class="text-white focus:outline-none">
      <!-- Icono de Cerrar -->
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
           viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M6 18L18 6M6 6l12 12"/>
      </svg>
    </button>
  </div>
  <nav class="mt-4">
    <a href="#" class="hover:bg-primary-light">Nueva Tarea</a>
    <a href="#" class="hover:bg-primary-light">Nueva Etiqueta</a>
    <!-- Añade más enlaces según sea necesario -->
  </nav>
</div>
