<div class="container mt-4">
  <h2 class="mb-4">Lista de Tareas</h2>
  <div class="mb-3">

    <app-button label="Crear Nueva Tarea" variant="primary"  routerLink="/tasks/new"></app-button>

  </div>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Título</th>
        <th>Descripción</th>
        <th>Estado</th>
        <th>Prioridad</th>
        <th>Fecha de Vencimiento</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.status }}</td>
        <td>{{ task.priority }}</td>
        <td>{{ task.dueDate | date: 'short' }}</td>
        
      </tr>
    </tbody>
  </table>
</div>




